.page-inner {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 15px 40px 15px;
}
.home-page{
    margin: 0;
    background: linear-gradient(to right,#003973 0,#e5e5be 100%);
}
.gradient{
    background: linear-gradient(to right,#003973 0,#e5e5be 100%);
    font: 16px/1.8 -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-box {
    z-index: 10;
    width: 440px;
    height: 240px;
    background: rgba(97,97,97,.3);
    padding: 20px;
    border-radius: 12px;
    color: #eee;
    font-family: Georgia,serif;

    display: flex;
    flex-direction: column;
}
.home-box p {
    background: rgba(154,154,154,.5);
    padding: 10px;
    line-height: 24px;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
}
.home-box h2{
    margin: 10;
    text-align: center;
}

.home-box p a{
    color: #eee;
}
a {
    text-decoration: none;
}
.icon{
    font-family: iconfont!important;
}

.dark {
    background-color:#121621;
}

.about-box {
    max-width: 780px;
    margin: 100px auto 0;
    font: 16px/1.8 -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
}
.dark .quote {
    color: #6C7486;
}
.dark h1 {
    color: #E4ECFA;
}
.dark a {
    color: #99A3BA;
}
.links a {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    text-decoration: none;
    border-bottom: 1px dotted;
    transition: border .3s ease, color .3s ease;
}
.quote {
    position: relative;
    overflow: hidden;
    margin: 40px 20px;
}
.animate-slide-in-down, .animate-slide-in-up {
    position: relative;
    opacity: 0;
}

.quote-line {
    display: block;
    position: relative;
    height: 1px;
}
.dark .location {
    color: #6C7486;
}

.dark .quote-line {
    background: #242836;
}
.animate-slide-in-left {
    left: -100%;
}
.animate-slide-in-right {
    right: -100%;
}

    	.hljs {
    		padding: 0;
    	}
    	.hljs-ln td {
		    padding: 2px 10px;
		}
		/* for block of numbers */
		td.hljs-ln-numbers {
		    text-align: center;
		    color: #2F7689;
		    background-color: #EFF2F3;
		    /*border-right: 0.5px solid #CCC;*/
		    vertical-align: top;
		}
		/* for block of code */
		td.hljs-ln-code {
		    padding-left: 5px;
		}